<%= form_for @changeset, @action, fn f -> %>
  <fieldset>
    <%= label f, :name, "Tag Name" %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </fieldset>

  <fieldset>
    <%= label f, :rules, "Rules" %>
    <%= textarea f, :rules %>
    <%= error_tag f, :rules %>
  </fieldset>

  <%= submit "submit" %>
<% end %>
