<section class="pt-3">
  <%= link "Add new Tag",
    to: Routes.tag_path(@conn, :new),
    class: "block p-3 bg-green-200 hover:bg-green-500 hover:text-white uppercase" %>
</section>

<%= for tag <- @tags do %>
  <%= tag.name %>
<% end %>
