<nav>
  <ul>
    <li><%= live_patch "Add new Tag", to: Routes.live_path(@socket, TomieWeb.TagLive.New) %></li>
  </ul>
</nav>

<section class="list">
<%= for tag <- @tags do %>
  <article class="card">
    <%= live_patch to: Routes.live_path(@socket, TomieWeb.TagLive.Show, tag), class: "block" do %>
      <h3>
        <%= tag.name %>
      </h3>
      <span class="text-on-surface-muted tag">
        <%= rule_count(tag) %> Rules
      </span>
    <% end %>
  </article>
<% end %>
</section>
