<nav>
  <ul>
    <li><%= link "Back", to: Routes.tag_path(@conn, :index) %></li>
    <li><%= link "Edit", to: Routes.tag_path(@conn, :edit, @tag) %></li>
  </ul>
</nav>

<h1><%= @tag.name %></h1>

<pre>
<%= for rule <- rules(@tag) do %>
  <%= rule %>
<% end %>
</pre>
