<nav>
  <ul>
    <li>
      <%= link "Edit Profile", to: Routes.profile_path(@conn, :edit) %>
    </li>
    <li>
      <%= link "Edit User", to: Routes.pow_registration_path(@conn, :edit) %>
    </li>
    <li>
      <%= link "Sign out",
        to: Routes.pow_session_path(@conn, :delete),
        method: :delete, class: "flex-auto" %>
    </li>

  </ul>
</nav>

<h1>Profile</h1>



<a class="button" href="<%= bookmarklet(@conn) %>">Le BookmaRKLET</a>
