header.site-header {
  margin: 3rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--divider-color);
}

header.site-header a {
  border: none;
}

header.site-header h1 {
  text-align: center;
  border: none;
  margin: 2rem 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

header.site-header h1 span {
  font-weight: 400;
  letter-spacing: 1px;
  color: #eee;
  background: var(--primary-color);
  padding: 0.25rem 0.5rem; 
}

header.site-header h1 a {
  text-decoration: none;
  padding-left: 0.5rem;
}

header.site-header h1 a:hover {
  padding: 0.25rem 0rem 0.25rem 0.5rem; 
}

header.site-header h2 {
  text-align: center;
  margin-bottom: 2rem;
}

header.site-header .avatar {
  text-align: center;
}

header.site-header .avatar img {
  border-radius: 1000px;
  box-shadow: 2px 2px var(--primary-color);
}