nav#main-navigation {
	display: flex;
	justify-content: space-between;

	max-width: 60rem;

	font-size: 2rem;

	margin: 0 auto;
	margin-top: 1rem;

	padding: 0 1rem 1rem;
	border-bottom: 1px solid var(--divider-color);
}

nav#main-navigation span {}

nav#main-navigation a {
	text-decoration: none;
	color: #333;
}

nav#main-navigation .brand {
	font-weight: bold;
	color: #333;
}

nav#main-navigation .brand::after {
	content: '.';
	color: var(--primary-color);
}

nav#main-navigation .menu {
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;
	background: var(--primary-color);
}

nav#main-navigation .menu a {
	color: var(--main-bg-color);

}