nav#main-navigation {
	display: flex;
	justify-content: space-between;

	max-width: 60rem;

	font-size: 2rem;

	margin: 0 auto;
	margin-bottom: 3rem;
	margin-top: 2rem;

	padding: 0 1rem 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}

nav#main-navigation span {}

nav#main-navigation a {
	text-decoration: none;
	color: #333;
}


nav#main-navigation .brand {
	font-weight: bold;
	color: #333;
}

nav#main-navigation .brand::after {
	content: '.';
	color: #d34;
}