[Unit]
Description=Tomie

[Service]
Type=simple
User=tomie
Group=tomie
Restart=on-failure

EnvironmentFile=/opt/tomie/.env
WorkingDirectory=/opt/tomie/_build/prod/rel/tomie/bin
ExecStartPre=/opt/tomie/_build/prod/rel/tomie/bin/tomie eval "Tomie.Release.migrate"
ExecStart=/opt/tomie/_build/prod/rel/tomie/bin/tomie start
ExecStop=/opt/tomie/_build/prod/rel/tomie/bin/tomie stop

[Install]
WantedBy=multi-user.target
