{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
      "@babel/plugin-proposal-export-default-from",
      ["prismjs", {
        "languages": [
          "javascript",
          "css",
          "markup",
          "elixir",
          "bash",
          "nginx",
          "http",
          "json",
          "markdown",
          "regex",
          "sql",
          "csharp",
          "vbnet"
        ],
        "plugins": ["line-numbers"],
        "themes": ["funky"],
        "css": true
      }]
    ]
}
