<section class="text-center">
  <h1 class="text-4xl p-6">
    Keep in mind
  </h1>

  <ul class="text-2xl">
    <li>This is not your homepage</li>
    <li>You are your own (and only) user</li>
    <li>You don't <em>need</em> social</li>
    <li>JS is overrated</li>
  </ul>

  <h2 class="text-4xl p-6">
  	Goals
  </h2>

  <ul class="text-2xl">
    <li>Keep it simple, stupid!</li>
    <li>Learn from previous iterations</li>
  </ul>
</section>
