<nav>
  <ul>
    <li><%= link "Back", to: Routes.tag_path(@conn, :index) %></li>
    <li><%= link "Visit URL", to: Routes.bookmark_path(@conn, :visit, @bookmark) %></li>
    <li><%= link "Edit", to: Routes.bookmark_path(@conn, :edit, @bookmark) %></li>
    <li><%= link "Delete", to: Routes.bookmark_path(@conn, :delete, @bookmark), method: :delete, data: [confirm: "Are you sure?"] %></li>
  </ul>
</nav>

<h1><%= @bookmark.title || @bookmark.source %></h1>
