<div class="grid grid-cols-4 gap-4">
  <%= live_component @socket, TomieWeb.ListenLive.SidebarComponent %>

  <div class="col-span-3">
    <div class="card" phx-update="ignore">
      <div class="content">
        <h3>Last 14 Days</h3>
        <div id="artists-last-two-weeks"
          phx-hook="Listens"
          style="height: 300px;"        
          data-chart="<%= @last_two_weeks %>"></div>
      </div>
    </div>
  </div>
</div>
