@charset "utf-8";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "awesomeplete";
@import "alerts";
@import "nprogress";

/* Overrides */

body {
	@apply bg-surface text-on-surface;
}

h1, h2 {
	@apply border-b border-divider;
}

h1 {
	@apply text-3xl mb-4;
}

h2 {
	@apply text-2xl mb-3;
}

h3 {
	@apply text-xl;
}

a {
	@apply outline-none;
}

/* General Styles */

.list {
}

.list .card {
	@apply p-4 transition duration-300 mb-4 shadow bg-surface-alt;
}

.list .card:last-child {
	@apply border-none;
}

.list:not(:first-child) {
	@apply mt-6;
}

.list .card:hover,
.list .card:focus,
.list .card:active {
	@apply bg-surface-alt shadow-lg;
}

.tag {
	@apply text-sm uppercase bg-primary-alt-barely px-2 py-1 shadow;
}

/* Forms */

form:not(.search) {
	@apply px-4;
}

form label {
	@apply block py-3;
}

form input, form textarea, form select {
	@apply mb-3 border-on-surface-barely border-b-2 border-solid text-on-surface bg-surface transition-all duration-300;
}

form textarea {
	rows: 5;
}

form input:focus, form textarea:focus {
	@apply border-primary bg-primary-alt;
}

form input:invalid, form textarea:invalid {
	@apply border-danger bg-danger-barely shadow-none;
}

form input[required]:valid, form textarea[required]:valid {
	@apply border-success bg-success-barely shadow-none;
}

form input, form textarea, form select, form button[type=submit], .error-tag {
	@apply block p-3 w-full rounded-sm;
}

form input:disabled,
form input:read-only,
form textarea:disabled,
form textarea:read-only {
	@apply text-on-surface-muted;
}

form input[type=checkbox] {
	@apply inline-block;
}

form button[type=submit], .button {
	@apply p-3 bg-primary-alt text-on-primary transition-all duration-300 inline-block uppercase rounded-sm;
}

form button[type=submit]:hover, .button:hover,
form button[type=submit]:focus, .button:focus,
form button[type=submit]:active, .button:active {
	@apply bg-primary-alt-muted;
}

form .error-tag {
	@apply bg-danger text-on-danger mb-3;
}

@screen sm {
	form:not(.search) {
		@apply px-0;
	}
}

/* Navbar */

nav {
	@apply h-16 bg-navbar w-full;
}

nav > ul {
	@apply flex text-center h-16  font-semibold uppercase;
}

nav > ul > li {
	@apply flex-auto;
}

nav > ul > li > a {
	@apply p-5 h-16 block transition-all duration-150 ease-in-out;
}

nav > ul > li > a .icon {
	@apply inline-block w-4 h-4;
}

nav > ul > li > a .icon svg {
	@apply fill-current w-4 h-4;
}

@screen sm {
	nav > ul > li {
		@apply flex-none;
	}

	nav .spacer {
		@apply flex-auto;
	}
}

nav#main {
	@apply fixed top-0 text-on-navbar;
}

nav#main > ul > li > a:hover,
nav#main > ul > li > a:focus,
nav#main > ul > li > a.active {
	@apply bg-navbar-hover text-on-navbar-hover;
}

main nav {
	@apply bg-surface text-on-surface mb-6 h-auto;
}

main nav > ul {
	@apply h-auto;
}

main nav > ul > li {
	@apply shadow mr-6 h-auto;
}

main nav > ul > li:last-child {
	@apply mr-0;
}

main nav > ul > li > a {
	@apply bg-surface-alt;
}

main nav > ul > li > a:hover,
main nav > ul > li > a:focus,
main nav > ul > li > a.active {
	@apply bg-primary-alt text-surface shadow-none;
}
