@charset "utf-8";

@import "vendor/minireset";
@import "home/header";
@import "home/navigation";
@import "home/article";
@import "home/footer";
@import "home/helpers";

:root {
  --primary-color: #d34;
  --main-bg-color: #fefefe;
}

body {
  color: #555;
  background: var(--main-bg-color);
  
  font-family: 'Manrope', sans-serif;
  font-size: 17px;
}

main#wrapper {
  padding: 0 2rem;
  line-height: 1.3em;
  max-width: 50rem;
  margin: 0 auto;
}

main#wrapper a {
  color: #333;
  text-decoration: none;
}

main#wrapper a:hover {
  color: white;
  background: #333;
}


p, ul, dl {
  font-family: 'Open Sans', serif; 
}

ul > li {
  margin-bottom: 0.3rem;
}

ul > li::before {
  content: "• ";
}

dl > dt {
  font-weight: bold;
  color: #444;
}

dl > dt > small {
  font-weight: normal;
}

dl > dd {
  margin-bottom: 0.3rem;
}

h1, h2, h3 {
  color: #333;
}

h1 {
  font-size: 1.8em;
  font-weight: 800;
  margin: 3rem 0 2rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 3rem 0 1rem;
}

h3::after {
  color: var(--primary-color);
  content: '.';
}
