/* Base Styles */

nav {
	@apply h-16 bg-navbar w-full;
}

nav > ul {
	@apply flex text-center h-16 font-semibold uppercase;
}

nav > ul > li {
	@apply flex-auto;
}

nav > ul > li > a {
	@apply p-5 h-16 block transition-all duration-150 ease-in-out;
}

@screen sm {
	nav > ul > li {
		@apply flex-none;
	}

	nav .spacer {
		@apply flex-auto;
	}
}

/* Main Nav */

nav#main {
	@apply fixed top-0 text-on-navbar overflow-x-auto;
}

nav#main > ul > li > a:hover,
nav#main > ul > li > a:focus,
nav#main > ul > li > a.active {
	@apply bg-navbar-hover text-on-navbar-hover;
}

main#content nav {
	@apply bg-surface text-on-surface mb-4 pb-2 h-auto overflow-x-auto;

	/* HACK: Prevent overflow from swallowing the shadow */
	padding-left: 5px;
	padding-top: 5px;
	margin-left: -5px;
	margin-top: -5px;
	width: auto;
}

@screen sm {
	main#content nav {
		@apply overflow-x-hidden;
	}
}

main#content nav > ul {
	@apply h-auto;
}

main#content nav > ul > li {
	@apply shadow mr-6 h-auto;
}

main#content nav > ul > li:last-child {
	@apply mr-0;
}

main#content nav > ul > li > a {
	@apply bg-surface-alt;
}

main#content nav > ul > li > a:hover,
main#content nav > ul > li > a:focus,
main#content nav > ul > li > a.active {
	@apply bg-primary-alt text-on-primary shadow-none;
}

aside#sidebar > nav {
	@apply w-full sticky;

	/* This has a weird value to account for the 5px below */
	top: 5.2rem;

	/* HACK: Prevent overflow from swallowing the shadow */
	padding-right: 5px;
	margin-right: -5px;
}

aside#sidebar > nav > ul {
	@apply flex flex-col shadow;
}

aside#sidebar > nav > ul > li {
	@apply mr-0 shadow-none border-divider border-solid border-b;
}

aside#sidebar > nav > ul > li:last-child {
	@apply border-none;
}
