<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<%= live_title_tag @page_title, suffix: " • Inhji.de" %>

		<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/home.css") %>"/>
		<link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
		<link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
		<link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
		<link rel="manifest" href="/site.webmanifest">

		<link rel="me" href="https://github.com/inhji">
		<link rel="me" href="mailto:inhji@posteo.de">

		<link rel="authorization_endpoint" href="<%= @auth_endpoint %>">
		<link rel="token_endpoint" href="<%= @token_endpoint %>">
		<link rel="micropub" href="<%= @micropub_endpoint %>">
	</head>
	<body>
		<%= @inner_content %>
	</body>
</html>