<main role="main" id="content">
  <section class="alerts">
    <p class="info" role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"><%= live_flash(@flash, :info) %></p>

    <p class="error" role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  </section>

  <%= @inner_content %>
</main>
